# Configuration locale
data/
.github/*.md

# Python
__pycache__/
*.py[cod]
*$py.class
*.so
.Python
env/
venv/
.venv

# Tests & coverage
.coverage
.coverage.*
htmlcov/
.pytest_cache/

# Docker
.dockerignore

# OS
.DS_Store
Thumbs.db

# IDE
.vscode/
.idea/
*.swp
*.swo
